@(message: String)

@main("MatthewHancock.net") {
	<div class="container">
		<div class="container paneledholder" >
			<div class="row paneledholder" >
				<div class="col-md-4 col-xs-8 paneledmain">
					<h2 class="form-login-heading">Matthew Hancock</h2>
					<img src="@routes.Assets.at("images/Matt1.jpg")" class="img-rounded" width="300" />
				</div>
			</div>
		
		</div>
		
		<footer class="navbar navbar-fixed-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-1 paneled"><h4 class="form-login-heading">Powered by </h4></div>
				<div class="col-md-2 paneled"><img src="@routes.Assets.at("images/play.jpg")" class="img-rounded" align="middle" width="150" />
			    </div>
				</div>
		</div>
		</footer>
	</div>
		

}